{% if INMEMORIAM_SHOW %}
<div class="inmemoriam-banner" style="background-color: {{ INMEMORIAM_COLOR }};">
	<div class="inmemoriam-icon" aria-hidden="true">&#10013;</div>
	<div class="inmemoriam-text">
		<strong>{{ lang('INMEMORIAM_TITLE') }}</strong>
		{% if INMEMORIAM_DEATH_DATE %}
			<span class="inmemoriam-death-date">{{ lang('INMEMORIAM_DEATH_DATE', INMEMORIAM_DEATH_DATE) }}</span>
		{% endif %}
		<span class="inmemoriam-memorial-text">{{ INMEMORIAM_TEXT }}</span>
	</div>
</div>
{% endif %}
